root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Batch files require crlf.
[*.bat]
end_of_line = crlf

# Follow checkstyle 3-space guidelines.
[*.java]
indent_size = 3

# Do not remove trailing whitespace from markdown.
[*.md]
trim_trailing_whitespace = false

# Follow PEP-8 guidelines.
[*.py]
indent_size = 4

# Follow YAML standard guidelines.
[*.{yaml,yml}]
indent_size = 2

# Makefile requires hard tabs.
[Makefile]
indent_style = tab
