# Build/Compilation artifacts.
*-blx.aux
*-blx.bib
*-converted-to.*
*.7z
*.a
*.aab
*.apk
*.app
*.appx*
*.aux
*.bbl
*.bcf
*.bin
*.blg
*.bundle
*.cab
*.cb
*.cb2
*.class
*.com
*.cover
*.dSYM/
*.dbg
*.deb
*.dll
*.dvi
*.dyn_hi
*.dyn_o
*.ear
*.elf
*.exe
*.fdb_latexmk
*.fls
*.fmt
*.fot
*.gch
*.gem
*.gz
*.hex
*.hi
*.hmap
*.ipa
*.jar
*.kotlin_module
*.kt.class
*.kts
*.lib
*.lof
*.lot
*.msi
*.msix
*.o
*.obj
*.out
*.pdb
*.pdfsync
*.pmc
*.py[cod]
*.pyo
*.rar
*.rbc
*.rpm
*.run.xml
*.so
*.synctex
*.tar
*.tar.*
*.test
*.tgz
*.toc
*.tsbuildinfo
*.unitypackage
*.war
*.webpack/
*.xdv
*.zip
*cover
.coverage*
.terraform/
/.synctex.gz
/nbbuild/
/nbdist/
DerivedData/
[Ll]ibrary/
[Oo]bj/
__pycache__/
cabal.sandbox.config
cover/
coverage/
nytprof.out

# Cache/Temporary files.
.astro/
.cache-loader/
.cache/
.eslintcache
.jekyll-cache/
.jekyll-metadata
.npm/
.parcel-cache/
.pytest_cache/
.sass-cache/
.stylelintcache
.temp/
.tmp/
.turbo/
[Tt]emp/
*.*.lb
*.bak
*.cache
*.cachefile
*.lock
*.orig
*.pid
*.pid.lock
*.rej
*.rs.bk
*.seed
*.tmp
*~
/.emacs.d/auto-save-list
auto-save-list
cache/
node_cache/
npm-cache/
pids/
temp/
tmp/

# Dependencies.
__pypackages__/
bower_components/
deps/
jspm_packages/
node_modules/
vendor/
vendor/bundle/
web_modules/

# Editor/IDE files.
.code-workspace
.history
.history/
.idea/
.localhistory
.netrwhist
.settings/
.tmproj
.vscode/
*.csproj
*.elc
*.iml
*.ipr
*.iws
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.sw[a-p]
*.swp[a-z]
*.un~
*.unityproj
*.user
*.viminfo
*.vs/
*.xcuserdatad
*.xcuserstate
/nbactions.xml
/nbprofile/
/nbproject/private/
perlcritic.history
Session.vim

# Log files.
*.log
*.log.*
debug.log
erl_crash.dump
error.log
hs_err_pid*
logs/
npm-debug.log*
pnpm-debug.log*
replay_pid*
stackdump.*
yarn-debug.log*
yarn-error.log*

# Miscellaneous files.
*.db
*.diff
*.img
*.iso
*.patch
*.sdf
*.sqlite3
Icon?

# Operating System files.
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.DS_Store?
.ehthumbs_vista.db
.ehthumbs.db
.fseventsd/
.fuse_hidden*
.Icon?
.LSOverride
.Spotlight-V100
.TemporaryItems/
.Trashes/
.VolumeIcon.icns
*.icloud
*.lnk
$RECYCLE.BIN/
desktop.ini
ehthumbs.db
Thumbs.db
Thumbs.db:encryptable

# Secrets and credentials.
_netrc
.aws/
.azure/
.env
.env.*
.envrc
.gcloud/
.htpasswd
*.asc
*.jks
*.key
*.keychain
*.keys
*.p12
*.pem
*.pfx
*.pkcs12
*.private
*.pypirc
*.secret
*.tfstate
*.tfstate.backup
credentials*
deploy-key*
id_dsa
id_ecdsa
id_ed25519
id_rsa
known_hosts
local_settings.py*
netrc
npmrc
secrets.*
settings.local.php
sshd_config

# Virtual environments.
.direnv/
.env/
.venv/
env/
venv/

# Explicit includes.
!.env.example*
