[user]
name = Espi Marisa
email = contact@espi.me
username = espimarisa
signingkey = BC546F551DEE4E3E

[init]
defaultBranch = main

[commit]
gpgsign = true

[core]
editor = micro

[gpg]
program = gpg
