# Other package managers
package-lock.json
pnpm-lock.yaml
yarn.lock
.yarn/*
.pnp.*

*.css text diff=css
*.htm text diff=html
*.html text diff=html
*.py text diff=python
*.scss text diff=css
*.markdown text diff=markdown
*.md text diff=markdown

# Logs
*.log
*.pid
*.seed
*.pid.lock
logs
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Cache
*.tsbuildinfo
.cache
.history

# Compiled code
out
dist
.svelte-kit

# Configs
.env*
!.env.example
.vscode/*
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Binaries
*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.png binary
*.svg text
*.webp binary
