* text=auto eol=lf

*.7z binary
*.a binary
*.aab binary
*.apk binary
*.app binary
*.appx* binary
*.avi binary
*.bin binary
*.bmp binary
*.bz2 binary
*.cab binary
*.class binary
*.com binary
*.db binary
*.dbg binary
*.deb binary
*.dfont binary
*.dll binary
*.dmg binary
*.drc binary
*.dSYM binary
*.dylib binary
*.ear binary
*.eot binary
*.eps binary
*.exe binary
*.flv binary
*.font binary
*.gem binary
*.gif binary
*.glb binary
*.gltf binary
*.gz binary
*.heic binary
*.heif binary
*.ico binary
*.img binary
*.ipa binary
*.iso binary
*.jar binary
*.jpeg binary
*.jpg binary
*.lib binary
*.lockb binary
*.m4a binary
*.m4v binary
*.mkv binary
*.mov binary
*.mp3 binary
*.mp4 binary
*.msi binary
*.msix binary
*.o binary
*.obj binary
*.ogg binary
*.ogv binary
*.otf binary
*.out binary
*.par binary
*.pdf binary diff=pdf
*.phar binary
*.png binary
*.ppt binary
*.pptx binary
*.psd binary
*.pyc binary
*.pyo binary
*.rar binary
*.rpm binary
*.so binary
*.spl binary
*.sqlite* binary
*.tar binary
*.tar.* binary
*.tga binary
*.tgz binary
*.tiff binary
*.ttf binary
*.unitypackage binary
*.vib binary
*.vndr binary
*.vsd binary
*.war binary
*.wav binary
*.webm binary
*.webp binary
*.woff binary
*.woff2 binary
*.xls binary
*.xlsx binary
*.xz binary
*.zip binary

*.lock -diff -merge

*.bash text eol=lf
*.bat text eol=clrf
*.sh text eol=lf
