{
	"arrowParens": "always",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"enable": true,
	"experimentalTernaries": true,
	"htmlWhitespaceSensitivity": "css",
	"proseWrap": "preserve",
	"quoteProps": "consistent",
	"trailingComma": "all",
	"printWidth": 80,
	"tabWidth": 2,
	"semi": true,
	"singleQuote": false,
	"useEditorConfig": true,
	"useTabs": true,
	"vueIndentScriptAndStyle": true
}
