[Desktop Entry]
Categories=Network;
Comment[en_US]=Vesktop is a custom Discord App aiming to give you better performance and improve linux support. Vencord comes pre-installed
Comment=Vesktop is a custom Discord App aiming to give you better performance and improve linux support. Vencord comes pre-installed
Exec=/usr/bin/vesktop %U --start-minimized
GenericName[en_US]=Internet Messenger
GenericName=Internet Messenger
Icon=vesktop
Keywords=discord;vencord;electron;chat;
MimeType=
Name[en_US]=Vesktop
Name=Vesktop
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=vesktop
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
