/**
  * Force using my system-wide font in all elements.
  * This does have the effect of turning codeblocks into sans-serif.
  * I cannot be tasked with fixing it.
*/

* {
  font-family: "Atkinson Hyperlegible Next" !important;
  font-weight: 400 !important;
}

/**
 * Hides the annoying "Send a gift" button in the message compose box.
 * This is language dependent and very gross, but it works.
*/

button[aria-label="Send a gift"] {
  display: none;
}

/**
 * Hides the shop, store, and library icons on the homepage (/me).
 * To navigate to any of these, enter the quick switcher (ctrl +k)
 * and search for them. This may break in the future.
*/

*[href="/shop"],
*[href="/store"],
*[href="/library"] {
  display: none;
}

/**
 * Hides the annoying "active now"/"now playing" on the homepage (/me).
 * This only takes effect at higher viewports as by default it's hidden on those.
*/

[class*="nowPlayingColumn_"] {
  display: none;
}
